@model RenderSeePostViewModel
@{
    ViewData["Title"] = $"Post in {Model.Location}";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-widget">
            <div class="card-header">
                <div class="user-block">
                    @if (Model.ProfileImgPath != null)
                    {
                        <img class="img-circle" src="~/img/users/@Model.ProfileImgPath" alt="User Image">
                    }
                    else
                    {
                        <img class="img-circle" src="~/img/common/default-male.png" alt="User Image">
                    }
                    <span class="username"><a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@Model.ProfileId">@Model.ProfileName</a></span>
                    <span class="description">@Model.CreatedOn in @Model.Location</span>
                </div>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" title="Mark as read">
                        <i class="far fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <img class="img-fluid pad" src="~/img/posts/@Model.ImagePath" alt="Photo">
                <p>@Model.Text</p>
                @if(Model.IsLikedByVisitor)
                {
                    <a asp-action="LikePost" asp-controller="Post" asp-route-id="@Model.Id" type="button" class="btn btn-secondary btn-sm"><i class="far fa-thumbs-down"></i> Dislike</a>
                }
                else
                {
                    <a asp-action="LikePost" asp-controller="Post" asp-route-id="@Model.Id" type="button" class="btn btn-secondary btn-sm"><i class="far fa-thumbs-up"></i> Like</a>
                }
                <a asp-action="AddComment" asp-controller="Post" asp-route-id="@Model.Id" type="button" class="btn btn-success btn-sm"><i class="far fa-comment"></i> Comment</a>
                @if (Model.IsOwner)
                {
                    <a asp-action="DeletePost" asp-controller="Post" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Delete Post</a>
                }
                <span class="float-right text-muted">@Model.LikesCount likes - @Model.CommentsCount comments</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-widget">
            <div class="card-footer card-comments">
                @foreach (var comment in Model.Comments)
                {
                    <div class="card-comment">

                        <img class="img-circle img-sm" src="~/img/common/default-male.png" alt="User Image">
                        <div class="comment-text">
                            <span class="username">
                                @comment.ProfileName
                                <span class="text-muted float-right">@comment.CreatedOn</span>
                            </span>
                            @comment.Text

                            @if (Model.IsOwner)
                            {
                                <span class="float-right">
                                    <a asp-action="DeleteComment" asp-controller="Post" asp-route-id="@comment.CommentId" type="button" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                                </span>
                            }
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>