@model IEnumerable<RenderOfferViewModel>
@{
    ViewData["Title"] = "Book A Flight";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center display-4">Available Flights</h2>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a asp-action="AddAnOffer" asp-controller="Offer" class="btn btn-block btn-outline-primary btn-lg">Add a Flight</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="card-body">
                @if (@Model.Where(x => !x.IsBooked).Count() == 0)
                {
                    <h3 class="text-center display-5 mt-2">No available flights at the moment...</h3>
                }
                else
                {
                    @foreach (var offer in @Model.Where(x => !x.IsBooked))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-12 mt-3">
                                <div class="info-box bg-primary">
                                    <span class="info-box-icon"><i class="fas fa-plane-departure"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Departure from: <b>@offer.DepartureLocation</b></span>
                                        <span class="info-box-text">Arrive in: <b>@offer.ArrivalLocation</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Flying in: <b>@offer.DepartureTime</b></span>
                                        <span class="info-box-text">Arrive in: <b>@offer.ArrivalTime</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Price of the ticket: <b>@offer.PriceOfTicket$</b></span>
                                        <span class="info-box-text">Offer is from: <b>@offer.Name</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <a asp-action="BookTicket" asp-controller="Offer" asp-route-id="@offer.Id" class="btn btn-block btn-light btn-lg">Book the ticket</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>