@*@model IEnumerable<RenderOfferViewModel>
@{
    ViewData["Title"] = "Book A Flight";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center display-4">Available Flights</h2>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a asp-action="AddAnOffer" asp-controller="Offer" class="btn btn-block btn-outline-primary btn-lg">Add a Flight</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

            <div class="card-body">
                @if (@Model.Where(x => !x.IsBooked).Count() == 0)
                {
                    <h3 class="text-center display-5 mt-2">No available flights at the moment...</h3>
                }
                else
                {
                    @foreach (var offer in @Model.Where(x => !x.IsBooked))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-12 mt-3">
                                <div class="info-box bg-primary">
                                    <span class="info-box-icon"><i class="fas fa-plane-departure"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Departure from: <b>@offer.DepartureLocation</b></span>
                                        <span class="info-box-text">Arrive in: <b>@offer.ArrivalLocation</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Flying in: <b>@offer.DepartureTime</b></span>
                                        <span class="info-box-text">Arrive in: <b>@offer.ArrivalTime</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Price of the ticket: <b>@offer.PriceOfTicket$</b></span>
                                        <span class="info-box-text">Offer is from: <b>@offer.Name</b></span>
                                    </div>
                                    <div class="info-box-content">
                                        <a asp-action="BookTicket" asp-controller="Offer" asp-route-id="@offer.Id" class="btn btn-block btn-light btn-lg">Book the ticket</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>*@

@{
    ViewData["Title"] = "My Flights List";
}

<div class="row">
    <h1>My Flights</h1>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-success">Approved</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>219</td>
                            <td>Alexander Pierce</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-warning">Pending</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>657</td>
                            <td>Bob Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-primary">Approved</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>175</td>
                            <td>Mike Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-danger">Denied</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>