@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = null;

    var countries = this.Model.CountriesList.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="/">FasterMate</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register</p>

                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.BirthDate"></label>
                        <input asp-for="Input.BirthDate" class="form-control" />
                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <p class="mb-1">Gender</p>
                        @foreach (var gender in Model.Genders)
                        {
                            <label for="@gender" class="mr-3">
                                <input type="radio" asp-for="Input.Gender" id="@gender" value="@gender" />
                                <span>@gender</span>
                            </label>
                        }
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.CountryId"></label>
                        <select asp-for="Input.CountryId" class="form-control" asp-items="countries"></select>
                        <span asp-validation-for="Input.CountryId" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-4">
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>

                @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                    </a>
                    </div>*@

                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">I already have a membership.</a>
            </div>
        </div>
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>



@*  <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to register.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>*@