@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RenderProfileViewModel
@{
    ViewData["Title"] = $"{@Model.FirstName} {@Model.LastName}";
}

<div class="row">
    <div class="col-md-3">
        <!--Card for profile etc.-->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    @if (Model.ImagePath == null)
                    {
                        @if (Model.Gender == "Male")
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/common/default-male.png" alt="User profile picture">
                        }
                        else
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/common/default-female.png" alt="User profile picture">
                        }
                    }
                    else
                    {
                        <img class="profile-user-img img-fluid img-circle" src="~/img/users/@Model.ImagePath" alt="User profile picture">
                    }
                </div>

                <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>

                <p class="text-muted text-center">@Model.Gender</p>
                <p class="text-muted text-center">@Model.Birthdate.ToString("MM/dd/yyyy")</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Following</b> <a class="float-right">@Model.FollowersCount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Followers</b> <a class="float-right">@Model.FollowingCount</a>
                    </li>
                </ul>

                
                @if (Model.IsOwner)
                {
                    <a asp-action="Edit" asp-controller="Profile" class="btn btn-primary btn-block"><b>Edit</b></a>
                }
                else
                {
                    if(!Model.IsFollowing)
                    {
                        <a asp-action="Follow" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Follow</b></a>
                    }
                    else
                    {
                        <a asp-action="Follow" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Unfollow</b></a>
                    }
                }
            </div>
        </div>

        <!--About Me-->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <div class="card-body">
                <strong><i class="fas fa-map-marker-alt mr-1"></i>Country</strong>
                <p class="text-muted">@Model.Country</p>

                <strong><i class="far fa-file-alt mr-1"></i>Bio</strong>
                <p class="text-muted">@Model.Bio</p>
            </div>
        </div>


    </div>

    <!--Timeline-->
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="timeline">
                        <div class="timeline timeline-inverse">
                            <div class="time-label">
                                <span class="bg-danger">
                                    10 Feb. 2014
                                </span>
                            </div>
                            <div>
                                <i class="fas fa-envelope bg-primary"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="fas fa-user bg-info"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                    <h3 class="timeline-header border-0">
                                        <a href="#">Sarah Young</a> accepted your friend request
                                    </h3>
                                </div>
                            </div>
                            <div>
                                <i class="fas fa-comments bg-warning"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                    <div class="timeline-body">
                                        Take me to your leader!
                                        Switzerland is small and neutral!
                                        We are more like Germany, ambitious and misunderstood!
                                    </div>
                                    <div class="timeline-footer">
                                        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="time-label">
                                <span class="bg-success">
                                    3 Jan. 2014
                                </span>
                            </div>
                            <div>
                                <i class="fas fa-camera bg-purple"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                    <div class="timeline-body">
                                        <img src="https://placehold.it/150x100" alt="...">
                                        <img src="https://placehold.it/150x100" alt="...">
                                        <img src="https://placehold.it/150x100" alt="...">
                                        <img src="https://placehold.it/150x100" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="far fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>