@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RenderProfileViewModel
@{
    ViewData["Title"] = $"{@Model.FirstName} {@Model.LastName}";
}

<div class="row">
    <div class="col-md-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    @if (Model.ImagePath == null)
                    {
                        @if (Model.Gender == "Male")
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/common/default-male.png" alt="User profile picture">
                        }
                        else
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/common/default-female.png" alt="User profile picture">
                        }
                    }
                    else
                    {
                        <img class="profile-user-img img-fluid img-circle" src="~/img/users/@Model.ImagePath" alt="User profile picture">
                    }
                </div>

                <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>

                <p class="text-muted text-center">@Model.Gender</p>
                <p class="text-muted text-center">@Model.Birthdate.ToString("dd/MM/yyyy")</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Following</b> <a class="float-right">@Model.FollowingCount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Followers</b> <a class="float-right">@Model.FollowersCount</a>
                    </li>
                </ul>


                @if (Model.IsOwner)
                {
                    <a asp-action="Edit" asp-controller="Profile" class="btn btn-primary btn-block"><b>Edit</b></a>
                }
                else
                {
                    if (!Model.IsFollowing)
                    {
                        <a asp-action="Follow" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Follow</b></a>
                    }
                    else
                    {
                        <a asp-action="Follow" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><b>Unfollow</b></a>
                    }
                }
            </div>
        </div>

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <div class="card-body">
                <strong><i class="fas fa-map-marker-alt mr-1"></i>Country</strong>
                <p class="text-muted">@Model.Country</p>

                <strong><i class="far fa-file-alt mr-1"></i>Bio</strong>
                <p class="text-muted">@Model.Bio</p>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <div class="activity activity-inverse">
                            @if (@Model.Posts.Count() == 0)
                            {
                                <h2 class="text-center">No posts yet</h2>
                            }
                            else
                            {
                                @foreach (var post in Model.Posts)
                                {
                                    <div class="post">
                                        <div class="user-block">
                                            @if (Model.ImagePath == null)
                                            {
                                                @if (Model.Gender == "Male")
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/common/default-male.png" alt="User profile picture">
                                                }
                                                else
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/common/default-female.png" alt="User profile picture">
                                                }
                                            }
                                            else
                                            {
                                                <img class="img-circle img-bordered-sm" src="~/img/users/@Model.ImagePath" alt="User profile picture">
                                            }
                                            <span class="username">
                                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@Model.Id">@Model.FirstName @Model.LastName</a>
                                            </span>
                                            <span class="description">@post.CreatedOn</span>
                                        </div>

                                        <p class="text">@post.Text</p>

                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <img class="img-fluid" src="~/img/posts/@post.ImagePath" alt="Photo">
                                            </div>
                                        </div>

                                        <p>
                                            <a method="post" asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like (@post.LikesCount)</a>
                                            <span class="float-right">
                                                <a asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm">
                                                    <i class="far fa-comments mr-1"></i> Comments (@post.CommentsCount)
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>