@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<RenderTimelinePostsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">
            FasterMate is a web application for travellers.
            It provides features like choosing the correct destination,
            making bookings, and organizing the trip.
            Here you can see posts from other users,
            that have been to the place you want to go!
            You can take advice from them in real-live chat.
        </p>
    </div>
}
else
{
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <div class="activity activity-inverse">
                                @if (@Model.Count() == 0)
                                {
                                    <h3 class="text-center display-5">No posts, yet...</h3>
                                }
                                else
                                {
                                    @foreach (var post in Model)
                                    {
                                        <div class="post">
                                            <div class="user-block">
                                                @if (post.ProfileImgPath == null)
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/common/default-male.png" alt="User profile picture">
                                                }
                                                else
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/users/@post.ProfileImgPath" alt="User profile picture">
                                                }
                                                <span class="username">
                                                    <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@post.ProfileId">@post.ProfileName</a>
                                                </span>
                                                <span class="description">@post.CreatedOn</span>
                                            </div>

                                            <p class="text">@post.Text</p>

                                            <div class="row mb-3">
                                                <div class="col-sm-12">
                                                    <img class="img-fluid" src="~/img/posts/@post.ImagePath" alt="Photo">
                                                </div>
                                            </div>

                                            <p>
                                                <a method="post" asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like (@post.LikesCount)</a>
                                                <span class="float-right">
                                                    <a asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i> Comments (@post.CommentsCount)
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}