@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<RenderTimelinePostsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-2">
            <img class="card-img-top-dark" src="~/img/common/index-background.jpg" alt="Dist Photo 3">
            <div class="card-img-overlay">
                <h5 class="card-title text-primary">Card Title</h5>
                <p class="card-text pb-1 pt-1 text-white">
                    FasterMate is a web application, which provides social media functionality. <br>
                    Here you can meet with new people, have a chat and the main purpose of the application - express your impressions from the trips you had in the past. <br>
                    You can buy plane tickets from other people and add photos to your profile.
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <div class="activity activity-inverse">
                                @if (@Model.Count() == 0)
                                {
                                    <h3 class="text-center display-5">No posts, yet...</h3>
                                }
                                else
                                {
                                    @foreach (var post in Model)
                                    {
                                        <div class="post">
                                            <div class="user-block">
                                                @if (post.ProfileImgPath == null)
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/common/default-male.png" alt="User profile picture">
                                                }
                                                else
                                                {
                                                    <img class="img-circle img-bordered-sm" src="~/img/users/@post.ProfileImgPath" alt="User profile picture">
                                                }
                                                <span class="username">
                                                    <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@post.ProfileId">@post.ProfileName</a>
                                                </span>
                                                <span class="description">@post.CreatedOn in <b>@post.Location</b></span>
                                            </div>

                                            <p>@post.Text</p>

                                            <div class="row mb-3">
                                                <div class="col-sm-12">
                                                    <img class="img-fluid" src="~/img/posts/@post.ImagePath" alt="Photo">
                                                </div>
                                            </div>

                                            <p>
                                                <a method="post" asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like (@post.LikesCount)</a>
                                                <span class="float-right">
                                                    <a asp-action="SeePost" asp-controller="Post" asp-route-id="@post.Id" class="link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i> Comments (@post.CommentsCount)
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}