@model IEnumerable<SearchProfileViewModel>
@{
    ViewData["Title"] = "Search for profile";
}

<h2 class="text-center display-4">Search for profile</h2>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="get">
            <div class="input-group">
                <input type="search" class="form-control form-control-lg" placeholder="Type the profile username, e.g. viktortsolov" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row mt-1">
            <div class="col-md-3"></div>
            @if (Model.Count() == 0)
            {
                <h3>No users!</h3>
            }
            else
            {
                @foreach (var profile in Model)
                {
                    <div class="col-md-6">

                        <div class="card card-widget widget-user shadow">

                            <div class="widget-user-header bg-primary">
                                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@profile.ProfileId" class="widget-user-username">@profile.FirstName @profile.LastName</a>
                                <h5 class="widget-user-desc">@profile.Country</h5>
                            </div>
                            <div class="widget-user-image">
                                @if (profile.ImagePath == null)
                                {
                                    <img class="img-circle elevation-2" src="~/img/common/default-male.png" alt="User Image">
                                }
                                else
                                {
                                    <img class="img-circle elevation-2" src="~/img/users/@profile.ImagePath" alt="User Image">
                                }
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-6 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">@profile.Followers</h5>
                                            <span class="description-text">FOLLOWERS</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="description-block">
                                            <h5 class="description-header">@profile.Following</h5>
                                            <span class="description-text">FOLLOWING</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                }
            }
            <div class="col-md-3"></div>
        </div>
    </div>
</div>