@model IEnumerable<RenderAdministratorOfferViewModel>
@{
    ViewData["Title"] = "Manage the given offers";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Published Offers</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Id of the offer</th>
                            <th>Departure Location</th>
                            <th>Arrival Location</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Price of the Ticket</th>
                            <th>Profile Name</th>
                            <th>Profile Id</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var offer in @Model)
                        {
                            <tr>
                                <td>@offer.Id</td>
                                <td>@offer.DepartureLocation</td>
                                <td>@offer.ArrivalLocation</td>
                                <td>@offer.DepartureTime</td>
                                <td>@offer.ArrivalTime</td>
                                <td>@offer.PriceOfTicket$</td>
                                <td>@offer.Name</td>
                                <td>@offer.ProfileId</td>
                                <td>
                                    <a asp-action="DeleteOffer" asp-area="Administrator" asp-controller="Offer" asp-route-id="@offer.Id" class="btn btn-block btn-outline-danger btn-xs">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>