@model GroupViewModel
@{
    this.ViewData["Title"] = $"{Model.Name}";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card card-primary card-outline direct-chat direct-chat-primary">
            <div class="card-header">
                <h3 class="text-center display-5">@Model.Name</h3>
            </div>

            <div class="card-body">
                <div class="direct-chat-messages">
                    @foreach (var message in Model.Messages.OrderBy(x => x.CreatedOn))
                    {
                        <div class="@((message.ProfileId == Model.ProfileId) ? "right" : "") direct-chat-msg">
                            <input type="hidden" class="messageId" id="@message.Id" value="@message.Id" />

                            <div class="direct-chat-infos clearfix" style="@((message.ProfileId == Model.ProfileId) ? "margin-left:50%;" : "margin-right:50%;")">
                                <a class="direct-chat-name float-left" asp-controller="Profile" asp-action="UserProfile" asp-route-id="@message.ProfileId">
                                    @message.ProfileName
                                </a>
                                <span class="direct-chat-timestamp float-right">@message.CreatedOn</span>
                            </div>

                            <div class="direct-chat-text">
                                @message.Text
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card-footer">
                <div class="input-group">
                    <input id="message" type="text" class="form-control" placeholder="Message...">
                    <span class="input-group-append">
                        <button id="sendButton" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts{
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().then(function () {
        var groupId = String('@Model.Id');
        connection.invoke("ConnectToChat", groupId).catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("RecieveMessage",
        function (messageModel) {
            var currentProfileId = String('@Model.ProfileId');

            var message = `An unexpected Error has occured`;

            if (currentProfileId == messageModel.profileId) {
                message =
                    `
                    <div class="direct-chat-msg right">
                        <input type="hidden" class="messageId" id="${messageModel.id}" value="${messageModel.id}" />

                            <div class="direct-chat-infos clearfix" style="margin-left:50%;">
                                <a class="direct-chat-name float-left" asp-controller="Profile" asp-action="UserProfile" asp-route-id="${messageModel.profileId}">
                                    ${messageModel.profileName}
                                </a>
                                <span class="direct-chat-timestamp float-right">${messageModel.createdOn}</span>
                            </div>

                        <div class="direct-chat-text">
                            ${messageModel.text}
                        </div>
                    </div>
                    `;
            }
            else {
                message =
                    `
                    <div class="direct-chat-msg">
                        <input type="hidden" class="messageId" id="${messageModel.id}" value="${messageModel.id}" />

                            <div class="direct-chat-infos clearfix" style="margin-right:50%;">
                                <a class="direct-chat-name float-left" asp-controller="Profile" asp-action="UserProfile" asp-route-id="${messageModel.profileId}">
                                    ${messageModel.profileName}
                                </a>
                                <span class="direct-chat-timestamp float-right">${messageModel.createdOn}</span>
                            </div>

                        <div class="direct-chat-text">
                            ${messageModel.text}
                        </div>
                    </div>
                    `;
            }


            $(".direct-chat-messages").append(message);
        });


    $("#sendButton").click(function () {
        var message = String(document.getElementById("message").value);
        var groupId = String('@Model.Id');
        connection.invoke("Send", groupId, message).catch(function (err) {
            return console.error(err.toString());
        });
        $("#message").val("")
    });
</script>
}