@model GroupMemberViewModel
@{
    ViewData["Title"] = "Group Members";
}

<h2 class="text-center display-4 mt-2">Members of the group</h2>

<a class="btn btn-primary btn-lg btn-block mt-1" asp-route-id="@Model.Id" asp-action="AddMember" asp-controller="Group">Add members!</a>
@if (@Model.Members.Count() == 0)
{
    <h2 class="text-center display-4 mt-2">This group does not exist!!!</h2>
}
else
{
    @foreach (var member in @Model.Members)
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-widget widget-user mt-2">

                    <div class="widget-user-header bg-primary">
                        <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@member.ProfileId" class="widget-user-username">@member.Name</a>
                        <h5 class="widget-user-desc">&commat;@member.Username</h5>
                    </div>
                    <div class="widget-user-image">
                        @if (!string.IsNullOrWhiteSpace(member.ImagePath))
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/users/@member.ImagePath" alt="User profile picture">
                        }
                        else
                        {
                            <img class="profile-user-img img-fluid img-circle" src="~/img/common/default-male.png" alt="User profile picture">
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="description-block">
                                    @if (member.IsOwner)
                                    {
                                        <h5 class="description-header">Owner</h5>
                                    }
                                    else
                                    {
                                        <h5 class="description-header">Member</h5>

                                        <form method="post">
                                            <button class="btn btn-danger btn-block my-3" asp-controller="Group" asp-action="RemoveMember" asp-route-id="@Model.Id" asp-route-removeId="@member.ProfileId">
                                                <i class="fas fa-trash">
                                                </i>

                                                Remove member
                                            </button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
}